@model List<UI.Logic.Model.MemberDetails>
@{
    ViewBag.Title = "会员列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
</table>
